
@{ Layout = "_AdminLayout"; }
<environment>
    <link href="~/css/sb-admin-2.css" rel="stylesheet">
</environment>
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">List requests</h1>
</div>
<div class="content" style="width: fit-content;margin-left: -15px;margin-top: -15px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-body table-responsive">
                        <table class="table table-hover table-striped table-fixed" id="table1" cellpadding="0" style="width:1200px;">
                            <thead>
                            <th>Request ID</th>
                            <th>Subject</th>
                            <th>Create Time</th>
                            <th>Requestor</th>
                            <th>Facility Name</th>
                            <th>Status</th>
                            <th>Details</th>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item._requests.RequestId</td>
                                        <td>@item._requests.Subject</td>
                                        <td>@item._requests.CreateTime</td>
                                        <td>@item._accounts.Email</td>
                                        <td>@item._facilities.FacilityName</td>
                                        <td>@item._requests.Status</td>
                                        <td id="details">
                                            <div class="card-body table-responsive" style="position: relative;top:-28px; left:-24px;">
                                                <a type="button" href="" class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal" style="width:80px; padding-left: 5px 5px; ">Details</a>

                                                <!-- Modal -->
                                                <div class="container">
                                                    <!-- The Modal -->
                                                    <div class="modal" id="myModal">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content" style="width:950px;max-height:800px; position: relative;top: 60px;left:-220px; padding: 20px 20px 50px 50px;">
                                                                <h4>Request ID: @item._requests.RequestId</h4>
                                                                <form method="POST" action="" style="max-width: 500px;padding-top:30px">
                                                                    <div class="form-group">
                                                                        <label for="subject" class="control-label" style="margin-left: 50px;">Subject: </label>
                                                                        <div class="input-group" style="max-width: 400px;margin-left: 155px;position:relative;top: -31px">
                                                                            @item._requests.Subject
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label for="description" class="control-label" style="margin-left: 50px;">Decription: </label>
                                                                        <div class="input-group" style="max-width: 400px;margin-left: 155px;position:relative;top: -31px">
                                                                            @item._requests.Description
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label for="requestorId" class="control-label" style="margin-left: 50px;">Requestor ID: </label>
                                                                        <div class="input-group" style="max-width: 400px;margin-left: 155px;position:relative;top: -32px">
                                                                            @item._requests.requestorId
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label for="requestorName" class="control-label" style="margin-left: 50px;">Requestor: </label>
                                                                        <div class="input-group" style="max-width: 400px;margin-left: 150px;position:relative;top: -31px">
                                                                            @item._accounts.Email
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label for="facilityId" class="control-label" style="margin-left: 50px;">Facility ID: </label>
                                                                        <div class="input-group" style="max-width: 400px;margin-left: 155px;position:relative;top: -31px">
                                                                            @item._requests.FacilityId
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label for="facility" class="control-label" style="margin-left: 50px;">Facility: </label>
                                                                        <div class="input-group" style="max-width: 400px;margin-left: 155px;position:relative;top: -31px">
                                                                            @item._facilities.FacilityName
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label for="createtime" class="control-label" style="margin-left: 50px;">Create Time: </label>
                                                                        <div class="input-group" style="max-width: 400px;margin-left: 155px;position:relative;top: -31px">
                                                                            @item._requests.CreateTime
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group" style="position:relative; top: -502px;left:450px;font-size:16px;">
                                                                        <label for="assignee" class="control-label">Assignee: </label>
                                                                        <div class="input-group" style="position:relative;top:-32px;left:130px">
                                                                            @item._requests.Assignee
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group" style="position:relative; top: -502px;left:450px;font-size:16px;">
                                                                        <label for="endtime" class="control-label">End Time: </label>
                                                                        <div class="input-group" style="position:relative;top:-32px;left:130px">
                                                                            @item._requests.EndTime
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group" style="position:relative; top: -502px;left:450px;font-size:16px;">
                                                                        <label for="endtime" class="control-label">Current Status: </label>
                                                                        <div class="input-group" style="position:relative;top:-32px;left:130px">
                                                                            @item._requests.Status
                                                                        </div>
                                                                    </div>
                                                                    <div class="input-group" style="position:relative; top:-182px;left:330px">
                                                                        <div class="submitbutton">
                                                                            <a class="btn btn-danger" asp-action="Reject" asp-controller="Reject Request">Reject</a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="input-group" style="position:relative; top:-220px;left:410px">
                                                                        <div class="submitbutton">
                                                                            <a class="btn btn-success" asp-action="ListAssignee" asp-controller="Admin">Approve</a>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>